.container {
  width: 100%;
  height: 100%;

  @extend .flexCenter;

  background-color: $primary-color;

  nav {
    width: 240px;
    height: 95%;

    .nav-container {
      width: 100%;
      height: 100%;

      @extend .flexSpaceAroundColumn;

      .logo {
        width: 60%;
        height: 40px;

        @extend .flexEndBetween;
        color: $third-color;

        .fa-pied-piper-alt {
          font-size: 40px;
          width: 30%;
          height: 100%;

          @extend .flexCenter;
          cursor: pointer;
        }

        p {
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 25px;
          display: flex;
          align-items: center;
          cursor: pointer;

          color: $third-color;
        }
      }

      .nav-options {
        width: 100%;
        height: 300px;
        margin-bottom: 60px;
        @extend .flexSpaceBetweenColumn;

        .op-dashboard {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;

          color: $third-color;

          .fa-tachometer-alt {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }

        .op-profile {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;

          color: $fourth-color;

          .fa-id-card-alt {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }

        .op-utilities {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;
          color: $fourth-color;

          .fa-briefcase {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }

        .op-settings {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;

          color: $fourth-color;

          .fa-cog {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }

        .op-messages {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;

          color: $fourth-color;

          .fa-comment-alt {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }

        .op-analytics {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;

          color: $fourth-color;

          .fa-chart-bar {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }

        .op-integrations {
          width: 45%;
          height: 25px;
          cursor: pointer;

          @extend .flexSpaceBetween;
          color: $fourth-color;

          .fa-network-wired {
            width: 25px;
            height: 100%;
            font-size: 15px;

            @extend .flexCenter;
          }

          p {
            font-size: 14px;

            @extend .flexStartColumn;

            width: 75px;
            height: 100%;
          }
        }
      }

      .nav-history {
        width: 85%;
        height: 130px;

        @extend .flexSpaceEvenlyColumn;

        background: linear-gradient(69.82deg, #1b1b1b 26.73%, #2c3c3a 125.79%);
        border-radius: 10px;

        .history-icon {
          width: 85%;
          height: 40px;

          @extend .flexStartBetween;

          .fa-history {
            width: 40px;
            height: 100%;

            @extend .flexCenter;

            font-size: 19px;
            color: $fourth-color;
          }

          .fa-ellipsis-h {
            width: 40px;
            height: 100%;

            @extend .flexCenter;

            font-size: 16px;
            color: $fourth-color;
          }
        }

        .history-txt {
          width: 95%;
          height: 65px;

          @extend .flexSpaceBetweenColumn;

          h1 {
            width: 90%;
            height: 20px;

            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
            display: flex;
            align-items: center;

            color: #ffffff;
          }

          p {
            width: 90%;
            height: 40px;

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;

            color: #ffffff;
          }
        }
      }
    }
  }

  main {
    width: 85%;
    max-width: 1130px;
    height: 95%;

    background-color: $secund-color;
    border-radius: 30px;
    margin-right: 10px;

    .main-header {
      width: 100%;
      height: 94px;

      @extend .flexSpaceBetween;

      box-sizing: border-box;
      border-radius: 30px 30px 0px 0px;

      .search-bar input,
      .search-btn,
      .search-btn:before,
      .search-btn:after {
        transition: all 0.25s ease-out;
      }
      .search-bar input,
      .search-btn {
        width: 2.5em;
        height: 2.5em;
      }
      .search-bar input:invalid:not(:focus),
      .search-btn {
        cursor: pointer;
      }
      .search-bar,
      .search-bar input:focus,
      .search-bar input:valid {
        width: 80%;
      }
      .search-bar input:focus,
      .search-bar input:not(:focus) + .search-btn:focus {
        outline: transparent;
      }
      .search-bar {
        margin: auto;
        padding: 1.5em;
        max-width: 20em;

        margin-right: 500px;
      }
      .search-bar input {
        background: transparent;
        border-radius: 1.5em;
        box-shadow: 0 0 0 0.4em #d9d9d9 inset;
        padding: 0.75em;
        transform: translate(0.5em, 0.5em) scale(0.5);
        transform-origin: 100% 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .search-bar input::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      .search-bar input:focus,
      .search-bar input:valid {
        background: #fff;
        border-radius: 0.375em 0 0 0.375em;
        box-shadow: 0 0 0 0.1em #d9d9d9 inset;
        transform: scale(1);
      }
      .search-btn {
        background: #d9d9d9;
        border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
        padding: 0.75em;
        position: relative;
        transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
        transform-origin: 0 50%;
      }
      .search-btn:before,
      .search-btn:after {
        content: "";
        display: block;
        opacity: 0;
        position: absolute;
      }
      .search-btn:before {
        border-radius: 50%;
        box-shadow: 0 0 0 0.2em #f1f1f1 inset;
        top: 0.45em;
        left: 0.49em;
        width: 1.2em;
        height: 1.2em;
      }
      .search-btn:after {
        background: #f1f1f1;
        border-radius: 0 0.25em 0.25em 0;
        top: 51%;
        left: 51%;
        width: 0.55em;
        height: 0.25em;
        transform: translate(0.2em, 0) rotate(45deg);
        transform-origin: 0 50%;
      }
      .search-btn span {
        display: inline-block;
        overflow: hidden;
        width: 1px;
        height: 1px;
      }

      .search-bar input:focus + .search-btn,
      .search-bar input:valid + .search-btn {
        background: $third-color;
        border-radius: 0 0.375em 0.375em 0;
        transform: scale(1);
      }
      .search-bar input:focus + .search-btn:before,
      .search-bar input:focus + .search-btn:after,
      .search-bar input:valid + .search-btn:before,
      .search-bar input:valid + .search-btn:after {
        opacity: 1;
      }
      .search-bar input:focus + .search-btn:hover,
      .search-bar input:valid + .search-btn:hover,
      .search-bar input:valid:not(:focus) + .search-btn:focus {
        background: $third-color;
      }
      .search-bar input:focus + .search-btn:active,
      .search-bar input:valid + .search-btn:active {
        transform: translateY(1px);
      }
    }

    .header-info {
      width: 100%;
      max-width: 20em;
      height: 100%;

      @extend .flexSpaceBetween;

      .info-notification {
        width: 70px;
        height: 100%;

        @extend .flexSpaceBetween;

        p {
          width: 50%;
          height: 50%;

          @extend .flexSpaceBetween;

          color: $fourth-color;
          font-size: 15px;
          cursor: pointer;
        }

        .fa-level-down-alt {
          width: 50%;
          height: 50%;

          @extend .flexCenter;

          font-size: 10px;
          color: $fourth-color;
          cursor: pointer;
        }

        .fa-bell {
          font-size: 20px;
          color: $fourth-color;
          cursor: pointer;
        }
      }

      .info-profile {
        width: 170px;
        height: 100%;

        @extend .flexSpaceAround;

        .box-profile {
          width: 50px;
          height: 50px;

          @extend .flexCenter;

          cursor: pointer;
          background-color: $fourth-color;
          border-radius: 999px;

          .fa-pied-piper-alt {
            font-size: 30px;
            color: $primary-color;
          }
        }
      }

      .info-menu {
        width: 70px;
        height: 100%;

        @extend .flexCenter;

        .fa-align-right {
          font-size: 24px;
          color: $third-color;
          cursor: pointer;
        }
      }
    }

    .main-content {
      width: 100%;
      height: 87%;

      @extend .flexSpaceBetween;

      border-radius: 0px 0px 30px 30px;

      .content-main {
        width: 100%;
        max-width: 855px;
        height: 100%;

        @extend .flexSpaceAroundColumn;

        .contentMain-header {
          width: 95%;
          max-width: 824px;
          height: 60px;

          @extend .flexSpaceBetween;

          .header-sessions {
            width: 103px;
            height: 55px;

            @extend .flexSpaceBetween;

            .sessions-icon {
              width: 30%;
              height: 100%;

              @extend .flexStart;

              .fa-stopwatch {
                font-size: 20px;
                color: $third-color;
              }
            }

            .sessions-txt {
              width: 65%;
              height: 100%;

              @extend .flexStartBetweenColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }

          .header-avgSessions {
            width: 103px;
            height: 55px;

            @extend .flexSpaceBetween;

            .avgSessions-icon {
              width: 30%;
              height: 100%;

              @extend .flexStart;

              .fa-desktop {
                font-size: 20px;
                color: $third-color;
              }
            }

            .avgSessions-txt {
              width: 65%;
              height: 100%;

              @extend .flexStartBetweenColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }

          .header-bounceRate {
            width: 103px;
            height: 55px;

            @extend .flexSpaceBetween;

            .bounceRate-icon {
              width: 30%;
              height: 100%;

              @extend .flexStart;

              .fa-stopwatch-20 {
                font-size: 20px;
                color: $third-color;
              }
            }

            .bounceRate-txt {
              width: 65%;
              height: 100%;

              @extend .flexStartBetweenColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }

          .header-watchTime {
            width: 103px;
            height: 55px;

            @extend .flexSpaceBetween;

            .watchTime-icon {
              width: 30%;
              height: 100%;

              @extend .flexStart;

              .fa-clipboard-list {
                font-size: 20px;
                color: $third-color;
              }
            }

            .watchTime-txt {
              width: 65%;
              height: 100%;

              @extend .flexStartBetweenColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }
        }

        .contentMain-main {
          width: 95%;
          max-width: 824px;
          height: 90px;

          @extend .flexSpaceBetween;

          .contentMain-Title {
            width: 25%;
            height: 50%;

            @extend .flexStartAroundColumn;
            margin-bottom: 35px;

            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 21px;

              color: #ffffff;
            }

            p {
              font-style: normal;
              font-weight: 600;
              font-size: 13px;

              color: #707376;
            }
          }

          .contentMain-info {
            width: 45%;
            height: 100%;

            @extend .flexEndBetween;

            .info-monthed {
              width: 35%;
              height: 70%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $third-color;
              border-radius: 10px;
              margin-left: -20px;
              margin-bottom: 10px;

              h1 {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;

                color: #000;
              }
            }
          }

          .contentMain-checked {
            width: 17%;
            height: 40%;

            margin-bottom: 35px;
            border-radius: 15px;

            .slideThree {
              @extend .flexCenter;

              width: 100%;
              height: 37px;
              background: $primary-color;
              position: relative;
              border-radius: 15px;

              &:after {
                @extend .flexCenter;

                height: 100%;
                content: "Months";
                color: #fff;
                position: absolute;
                right: 10px;
                z-index: 0;
                font: 12px/26px Arial, sans-serif;
                font-weight: bold;

              }
              &:before {
                @extend .flexCenter;

                height: 100%;
                content: "Months";
                color: #fff;
                position: absolute;
                left: 10px;
                z-index: 0;
                font: 12px/26px Arial, sans-serif;
                font-weight: bold;
              }
              label {
                content: "Years";
                color: #000;
                display: block;
                width: 60px;
                height: 30px;
                cursor: pointer;
                position: absolute;
                top: 3px;
                left: 3px;
                z-index: 1;
                background: #a9ded8;
                border-radius: 50px;
                transition: all 0.4s ease;
              }
              input[type="checkbox"] {
                visibility: hidden;
                &:checked + label {
                  left: 75px;
                }
              }
            }
          }
        }

        .contentMain-graphic {
          width: 95%;
          max-width: 824px;
          height: 220px;
          @extend .flexStartBetween;

          .graphic-left {
            width: 90px;
            height: 90%;

            @extend .flexSpaceAroundColumn;

            p {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;

              color: #707376;
            }
          }

          .graphic-content {
            width: 100%;
            height: 100%;

            @extend .flexStartBetweenColumn;

            .graphic-img {
              width: 95%;
              height: 90%;

              background-image: url(/img/ImgGraphic.svg);
              background-position-y: 100%;
              background-position-x: 100%;
              background-size: 100%;
              background-repeat: no-repeat;
            }

            .graphic-bottom {
              width: 95%;
              height: 13%;

              @extend .flexSpaceAround;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 28px;

                color: #707376;
              }
            }
          }
        }

        .contentMain-Options {
          width: 95%;
          max-width: 824px;
          height: 90px;

          @extend .flexStartBetween;

          .Option-1 {
            width: 150px;
            height: 90%;

            @extend .flexSpaceEvenly;

            background-color: #1b1b1b;
            border-radius: 10px;

            .Option-icon {
              width: 35px;
              height: 35px;

              @extend .flexCenter;

              background-color: $third-color;
              border-radius: 8px;

              .fa-hand-point-up {
                font-size: 15px;
              }
            }

            .Option-txt {
              width: 80px;
              height: 80px;

              @extend .flexStartAroundColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }

          .Option-2 {
            width: 150px;
            height: 90%;

            @extend .flexSpaceEvenly;

            background-color: #1b1b1b;
            border-radius: 10px;

            .Option-icon {
              width: 35px;
              height: 35px;

              @extend .flexCenter;

              background-color: $third-color;
              border-radius: 8px;

              .fa-hand-point-up {
                font-size: 15px;
              }
            }

            .Option-txt {
              width: 80px;
              height: 80px;

              @extend .flexStartAroundColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }

          .Option-3 {
            width: 150px;
            height: 90%;

            @extend .flexSpaceEvenly;

            background-color: #1b1b1b;
            border-radius: 10px;

            .Option-icon {
              width: 35px;
              height: 35px;

              @extend .flexCenter;

              background-color: $third-color;
              border-radius: 8px;

              .fa-hand-point-up {
                font-size: 15px;
              }
            }

            .Option-txt {
              width: 80px;
              height: 80px;

              @extend .flexStartAroundColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }

          .Option-4 {
            width: 150px;
            height: 90%;

            @extend .flexSpaceEvenly;

            background-color: #1b1b1b;
            border-radius: 10px;

            .Option-icon {
              width: 35px;
              height: 35px;

              @extend .flexCenter;

              background-color: $third-color;
              border-radius: 8px;

              .fa-hand-point-up {
                font-size: 15px;
              }
            }

            .Option-txt {
              width: 80px;
              height: 80px;

              @extend .flexStartAroundColumn;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 10px;

                color: #707376;
              }

              h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 10px;

                color: #ffffff;
              }

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14.1px;
                line-height: 10px;

                color: #707376;
              }
            }
          }
        }

        .contentMain-text {
          width: 95%;
          max-width: 824px;
          height: 100px;
          @extend .flexStartAroundColumn;

          .text-1 {
            width: 100%;
            height: 20px;

            @extend .flexSpaceBetween;

            .txt-1 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-2 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-3 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-4 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .btn-txt {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              background-color: $primary-color;
              border-radius: 999px;
              cursor: pointer;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-6 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              .fa-ellipsis-h {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 27px;

                color: #ffffff;
              }
            }
          }

          .text-2 {
            width: 100%;
            height: 20px;

            @extend .flexSpaceBetween;

            .txt-1 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-2 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-3 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-4 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .btn-txt {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              background-color: $primary-color;
              border-radius: 999px;
              cursor: pointer;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-6 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              .fa-ellipsis-h {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 27px;

                color: #ffffff;
              }
            }
          }

          .text-3 {
            width: 100%;
            height: 20px;

            @extend .flexSpaceBetween;

            .txt-1 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-2 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-3 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-4 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .btn-txt {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              background-color: $primary-color;
              border-radius: 999px;
              cursor: pointer;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 27px;

                color: #ffffff;
              }
            }

            .txt-6 {
              width: 100px;
              height: 100%;

              @extend .flexCenter;

              .fa-ellipsis-h {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 27px;

                color: #ffffff;
              }
            }
          }
        }
      }

      .content-aside {
        width: 25%;
        height: 100%;

        @extend .flexSpaceBetweenColumn;

        .aside-options {
          width: 100%;
          max-width: 253px;
          height: 200px;

          @extend .flexSpaceBetweenColumn;

          .aside-openproject {
            width: 100%;
            max-width: 220px;
            height: 55px;

            @extend .flexSpaceAround;

            background-color: $primary-color;
            border-radius: 7px;

            .openproject-container {
              width: 80%;
              height: 80%;

              @extend .flexSpaceBetween;

              .openproject-txt {
                width: 60%;
                height: 100%;

                @extend .flexStartAroundColumn;

                h1 {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 28px;
                  display: flex;
                  align-items: center;

                  color: $fourth-color;

                  margin-top: 10px;
                }

                p {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 23px;
                  line-height: 28px;
                  display: flex;
                  align-items: center;

                  color: $fourth-color;
                  margin-bottom: 10px;
                }
              }

              .box-icon {
                width: 30px;
                height: 30px;

                @extend .flexCenter;

                background-color: $secund-color;
                border-radius: 5px;
                cursor: pointer;

                .fa-angle-right {
                  font-size: 18px;
                  color: $fourth-color;
                }
              }
            }
          }

          .aside-successfullyCompleted {
            width: 100%;
            max-width: 220px;
            height: 55px;

            @extend .flexSpaceAround;

            background-color: $third-color;
            border-radius: 7px;

            .success-container {
              width: 80%;
              height: 80%;

              @extend .flexSpaceBetween;

              .success-txt {
                width: 60%;
                height: 100%;

                @extend .flexStartAroundColumn;

                h1 {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 28px;
                  display: flex;
                  align-items: center;

                  color: $secund-color;

                  margin-top: 10px;
                }

                p {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 23px;
                  line-height: 28px;
                  display: flex;
                  align-items: center;

                  color: $secund-color;
                  margin-bottom: 10px;
                }
              }

              .box-icon {
                width: 30px;
                height: 30px;

                @extend .flexCenter;

                background-color: #d9d9d9;
                border-radius: 5px;
                cursor: pointer;

                .fa-angle-right {
                  font-size: 18px;
                }
              }
            }
          }

          .aside-thisMonthed {
            width: 100%;
            max-width: 220px;
            height: 55px;

            @extend .flexSpaceAround;

            background-color: $primary-color;
            border-radius: 7px;

            .thisMonthed-container {
              width: 80%;
              height: 80%;

              @extend .flexSpaceBetween;

              .thisMonthed-txt {
                width: 60%;
                height: 100%;

                @extend .flexStartAroundColumn;

                h1 {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 28px;
                  display: flex;
                  align-items: center;

                  color: $fourth-color;

                  margin-top: 10px;
                }

                p {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 23px;
                  line-height: 28px;
                  display: flex;
                  align-items: center;

                  color: $fourth-color;
                  margin-bottom: 10px;
                }
              }

              .box-icon {
                width: 30px;
                height: 30px;

                @extend .flexCenter;

                background-color: $secund-color;
                border-radius: 5px;
                cursor: pointer;

                .fa-angle-right {
                  font-size: 18px;
                  color: $fourth-color;
                }
              }
            }
          }
        }

        .aside-analystics {
          width: 100%;
          max-width: 220px;
          height: 120px;

          @extend .flexSpaceBetweenColumn;

          .analystics-txt {
            width: 100%;
            height: 30px;

            @extend .flexSpaceBetween;

            h1 {
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 28px;
              display: flex;
              align-items: center;

              color: $fourth-color;
            }

            .fa-ellipsis-h {
              font-size: 16px;
              color: $fourth-color;
            }
          }

          .analystics-bars {
            width: 80%;
            height: 90px;

            @extend .flexEndBetween;

            .bars-1 {
              width: 50px;
              height: 70%;

              background-color: #2c3c3a;

              border-radius: 10px;
            }

            .bars-2 {
              width: 50px;
              height: 100%;

              background-color: #2c3c3a;

              border-radius: 10px;
            }

            .bars-3 {
              width: 50px;
              height: 70%;

              background-color: #2c3c3a;

              border-radius: 10px;
            }
          }
        }

        .aside-date {
          width: 100%;
          max-width: 220px;
          height: 60px;

          @extend .flexCenter;

          .date-container {
            width: 100%;
            height: 50px;

            @extend .flexSpaceBetween;

            .box-1 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $secund-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }

            .box-2 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $third-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $secund-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $secund-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }

            .box-3 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $secund-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }

            .box-4 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $secund-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }

            .box-5 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $secund-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }

            .box-6 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $secund-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }

            .box-7 {
              width: 35px;
              height: 100%;

              @extend .flexSpaceEvenlyColumn;

              background-color: $secund-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-top: 5px;
              }

              p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $fourth-color;
                height: 10px;
                margin-bottom: 5px;
              }
            }
          }
        }

        .aside-audit {
          width: 100%;
          max-width: 220px;
          height: 210px;

          @extend .flexSpaceAroundColumn;

          .audit-txt {
            width: 100%;
            height: 20px;

            @extend .flexSpaceBetween;

            h1 {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 28px;
              display: flex;
              align-items: center;

              color: $fourth-color;
            }
          }

          .audit-graphic {
            width: 120px;
            height: 120px;

            @extend .flexCenter;

            border-radius: 999px;

            border: 18px solid $third-color;

            .box-porcent {
              width: 60px;
              height: 60px;

              @extend .flexCenter;

              background-color: $third-color;
              border-radius: 999px;

              h1 {
                font-style: normal;
                font-weight: 800;
                font-size: 23px;
                line-height: 28px;
                display: flex;
                align-items: center;

                color: $secund-color;
              }
            }
          }

          .audit-bar {
            width: 100%;
            height: 50px;

            @extend .flexStartAroundColumn;

            h1 {
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 28px;
              display: flex;
              align-items: center;

              color: $fourth-color;
              height: 10px;
            }

            p {
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 28px;
              display: flex;
              align-items: center;

              color: $fourth-color;
              height: 10px;
            }

            .bar {
              width: 80%;
              height: 5px;

              background-color: $primary-color;
              border-radius: 999px;

              .bar-container {
                width: 50%;
                height: 100%;
                background-color: $third-color;
              }
            }
          }
        }
      }
    }
  }
}
